.m-container {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.chat-container {
    background: #ffffff;
    width: 100%;
}

.chat-pane,
#chat-left-tab-content .tab-pane .list-group {
    overflow-x: auto;
}

.chat-pane {
    height: inherit;
}

.container-center {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.list-group-flush:first-child .list-group-item {
    border-radius: 0;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(36, 104, 168, 0.5);
    display: none;
}

.bg-ui {
    border: 0;
    background: #CDEAFC;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.room {
    padding: 10px 20px;
}

.list-group-item.active {
    background: #F1F6FC;
    border: 0;
}

.list-group-item {
    font-size: 1.1rem;
    position: relative;
    background: #fff;
    border: 0;
}

.list-group-item:hover {
    color: rgb(93, 146, 188);
    /* background: #CDEAFC; */
}

.card-chat {
    border: 1px solid #eaeaea;
    background: #F7F9FA;
}

.card-chat .card-chat-header {
    border-bottom: 1px solid #eaeaea;
    height: 90px;
}

.card-left {
    height: 100%;
    background: #fff;
    border-left: 0;
}

.card-left .card-chat-header {
    padding: 0 15px;
    /* border-radius: 8px; */
}

.card-right {
    background: #F6F6F6;
    border-left: 0;
}

.card-right .card-chat-header {
    background: #FFFFFF;
    padding: 0px 20px;
}

.card-right .card-chat-header img {
    border-radius: 50%;
    width: 60px;
}

.card-right .card-chat-body {
    background: transparent;

}

.card-right .card-chat-footer {
    background: #FAFAFA;
    padding: 10px;
    border-top: 1px solid #eaeaea;
}

.card-right .card-chat-footer input[type=text] {
    background: transparent;
    border: 0;
    outline: 0;
}

.card-right .card-chat-footer input[type=text]:focus {
    box-shadow: none;
    border: 0;
}

.btn-send {
    border: 0;
    border-radius: 25px;
    color: #fff;
    padding: 5px 10px;
    background: transparent;
}

.btn-send:hover {
    background: #27A360;
}

.badge-chat {
    font-size: 0.7rem;
    background: #3F91CA;
    color: #fff;
    padding: 2px 7px;
    border-radius: 15px;
    font-weight: 800;
}

.room-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    font-weight: bold;
}

.room-content b,
.room-content small {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.room-content small {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

.list-group-item.active {
    color: rgba(93, 146, 188);
}

.list-group-item.active .room-content small,
.list-group-item:hover .room-content small {
    color: rgba(93, 146, 188, 0.7);
}

.bubble {
    max-width: 45%;
    border: 0;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.bubble small {
    display: block;
    margin: 2px 0px;
}

.bubble-left {
    background: #EAEAEA;
    border-radius: 8px 8px 8px 1px;
}

.bubble-left small {
    color: rgba(0, 0, 0, 0.6)
}

.bubble-right {
    color: rgb(93, 146, 188);
    border-radius: 8px 8px 1px 8px;
}

.bubble-right small {
    color: rgba(93, 146, 188, 0.8)
}

#chat-left-tab {
    background: #F4F4F6;
    border-bottom: 1px solid #eaeaea;
}

#chat-left-tab .nav-item .nav-link.active {
    color: #3F91CA;
    border-bottom: 2px solid #3F91CA;
}

#chat-left-tab .nav-item .nav-link {
    color: #B5C1CD;
    /* color: rgba(60, 159, 247, 0.5); */
    font-size: 1.3rem;
}

/* .add-friend img {
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
} */

.add-friend b {
    width: 100%;
}

.btn-add-friend {
    background: transparent;
    color: #B5C1CD;;
}

.btn-add-friend:hover {
    color: rgb(20, 85, 51);
}

.add-friend-form input[type=text] {
    width: 100%;
    border: 0;
    border-radius: 3px;
    padding: 8px;
    background: #249269;
    color: #fff;
}

.add-friend-form input[type=text]:focus {
    outline: 0;
}

.add-friend-form input[type=text]::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.btn-header {
    background: transparent;
    color: #B5C1CD;
    padding: 5px;
    font-size: 1.1rem;
}

.logo {
    cursor: pointer;
}

/* .list-friend-search .list-group-item img {
    border-radius: 50px;
    width: 50px;
    margin-right: 10px;
} */

.btn-outline-chat {
    border-color: rgb(77, 164, 218);
    background: transparent;
    padding: 5px 10px;
    color: rgb(77, 164, 218);
}

.btn-outline-chat:hover {
    background: rgb(77, 164, 218);
    color: #fff;
}

.login-container {
    height: 100vh;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#29a8db+0,23538a+100 */
    background: #29a8db;
    /* Old browsers */
    background: -moz-linear-gradient(left, #29a8db 0%, #23538a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #29a8db 0%, #23538a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #29a8db 0%, #23538a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29a8db', endColorstr='#23538a', GradientType=1);
    /* IE6-9 */
}

.login-container .card {
    border-color: #eaeaea;
    width: 350px;
}

.login-container .card-header b {
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    border-color: #eaeaea;
}

.login-container input {
    border-color: #eaeaea;
}

.login-container .input-group-text {
    background: #eaeaea;
    border-color: #eaeaea;
    color: #aeaeae;
}

.login-container .btn-login {
    background: #29a8db;
    background: -moz-linear-gradient(left, #29a8db 0%, #35adce 100%);
    background: -webkit-linear-gradient(left, #29a8db 0%, #35adce 100%);
    background: linear-gradient(to right, #29a8db 0%, #35adce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#29a8db', endColorstr='#35adce', GradientType=1);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    border: 0;
}

.login-container .btn-register {
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 1.1rem;
}

.login-container .logo {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    cursor: pointer;
    font-size: 2.2rem;
}

.user-avatar {
    position: relative;
    border-radius: 100%;
}

.user-avatar img {
    border-radius: 50%;
    width: 60px;
    margin-right: 10px;
}

.user-avatar .status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    bottom: 0;
    right: 15px;
}

.user-avatar .status.offline {
    background: red;
}

.user-avatar .status.online {
    background: rgb(28, 206, 28);
}

.chip-group {
    display: flex;
}

.chip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 5px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

.btn-transparent {
    background: transparent;
    color: #B5C1CD;
}

.toast {
    width: 300px;
}