<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Document</title>
</head>

<body class="container-center">
    <!-- <h1>Hi, {{user}}</h1>
    <div id="log">

    </div>

    <form id="join" method="POST" action="#">
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <button type="submit">Join Room</button>
    </form>
    <form id="leave" method="POST" action="#">
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <button type="submit">Leave Room</button>
    </form> -->

    <div class="container">
        <div class="row no-gutters justify-content-center">
            <form id="join" method="POST" action="#" class="m-2">
                <div class="input-group">
                    <input type="text" class="form-control" name="join_room" id="join_room" placeholder="Room Name">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Join Room</button>
                    </div>
                </div>
            </form>
            <form id="leave" method="POST" action="#" class="m-2">
                <div class="input-group">
                    <input type="text" class="form-control" name="leave_room" id="leave_room" placeholder="Room Name">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Leave Room</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row card-group card-column no-gutters">
            <div class="card col-3">
                <div class="list-group list-group-flush room-chat" id="list-tab" role="tablist">
                    <!-- <a class="list-group-item list-group-item-action active d-flex justify-content-between align-items-center"
                        id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                        Cras justo odio
                        <span class="badge badge-primary badge-pill">14</span>
                    </a> -->
                </div>
            </div>
            <div class="card col-9">
                <div class="card-body chat-container tab-content p-0" id="nav-tabContent">
                    <!-- <div class="tab-pane fade show" id="list-profile" role="tabpanel"
                        aria-labelledby="list-profile-list">
                        <div class="d-flex">
                            <div class="card mb-3" style="max-width: 45%; background: #ffffff;">
                                <div class="card-body">
                                    Hello
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="card text-white bg-primary mb-3" style="max-width: 45%">
                                <div class="card-body">
                                    aSome quick example text to build on the card title and make up the bulk of the
                                    card's
                                    content
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="card-footer text-muted">
                    <form id="send_room" method="POST" action="#">
                        <!-- <input type="text" name="room_name" id="room_name" placeholder="Room Name"> -->
                        <div class="input-group">
                            <input type="text" class="form-control" name="room_data" id="room_data"
                                placeholder="Message">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var socket = io.connect('http://' + document.domain + ':' + location.port)
            socket.on('my_response', function (message, cb) {
                if (message.room !== undefined) {
                    if ($(`#list-${message.room}`).length === 0) {
                        linkRoom(message.room);
                        containerRoom(message.room);
                    }
                    if(ids.indexOf(message.id) === -1) {
                        $(`#list-${message.room}`).append(`
                            <div class="d-flex">
                                <div class="card mb-3" style="max-width: 45%; background: #fff">
                                    <div class="card-body">
                                        ${message.data}
                                    </div>
                                </div>
                            </div>
                        `)
                    } else {
                        ids = ids.filter(id => id === message.id);
                        $(`#list-${room}`).append(`
                        <div class="d-flex justify-content-end">
                            <div class="card text-white bg-primary mb-3 align-self-end" style="max-width: 45%">
                                <div class="card-body">
                                    ${message.data}
                                </div>
                            </div>
                        </div>
                    `);
                    }
                } else {
                    console.log(message.data)
                }
                console.log(message);
            });

            $.get("/friends", function (data) {
                    console.log(data)
                    for(friend of data) {
                        socket.emit('join', {
                            room: friend.channel_id
                        });
                        linkRoom(friend)
                        containerRoom(friend)
                        $('.room').click(function (e) {
                            e.preventDefault();
                            room = $(this).attr('data-room');
                            console.log(room);
                        });
                    }
            });

            function create_UUID() {
                var dt = new Date().getTime();
                var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = (dt + Math.random() * 16) % 16 | 0;
                    dt = Math.floor(dt / 16);
                    return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
                });
                return uuid;
            }

            var room = '';


            function linkRoom(room) {
                $('.room-chat').append(`
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center room"
                            data-room="${room.channel_id}"
                            id="list-${room.channel_id}-list" data-toggle="list" href="#list-${room.channel_id}" role="tab" aria-controls="${room.friend}">
                    ${room.friend}
                    <span class="badge badge-primary badge-pill">14</span>
                </a>`)
            }

            function containerRoom(room) {
                $('.chat-container').append(`
                <div class="tab-pane fade show chat-pane p-3" id="list-${room.channel_id}" role="tabpanel"
                        aria-labelledby="list-${room.channel_id}-list">
                </div>
                `);
            }

            $('#join').submit(function (e) {
                socket.emit('join', {
                    room: $('#join_room').val()
                });

                linkRoom($('#join_room').val());
                containerRoom($('#join_room').val());

                $('.room').click(function (e) {
                    e.preventDefault();
                    room = $(this).attr('data-room');
                    console.log(room);
                });

                return false;
            });

            $('#leave').submit(function (e) {
                socket.emit('leave', {
                    room: $('#leave_room').val()
                });
                return false;
            });

            var ids = [];

            $('#send_room').submit(function (e) {
                if (room !== '') {
                    var id = create_UUID();
                    ids.push(id);
                    socket.emit('my_room_event', {
                        room: room,
                        data: $('#room_data').val(),
                        id: id
                    });
                }
                $('#room_data').val('');
                return false;
            });
        });
    </script>
</body>

</html>